<!DOCTYPE html>
<html lang="en">
<head>
	<title>主页</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- google icon link-->
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<!-- google suport Compiled and minified CSS -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
	<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
	<!-- google suport Compiled and minified JavaScript -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
	<script src="/js/login.js"></script>
	<link rel="stylesheet" type="text/css" href="/css/login.css">
</head>
<body >
	<div class="main-bg">

		<!-- Modal Trigger -->
		<div id="op-bttns">

			<a class="waves-effect waves-light btn modal-trigger  grey darken-1" id="login-bttn"><i class="material-icons left">directions_run</i>登录</a>
			<a class="waves-effect waves-light btn modal-trigger  grey darken-1" href="#signup-modal"><i class="material-icons left">sentiment_very_dissatisfied</i>还没有账号？</a>

		</div>



		<!-- Modal Structure -->
		<div id="login-modal" class="modal">
			<div class="modal-content">
				<div class="row">
					<div class="col s10 push-s1">
						<div style="text-align: center;">
							<h3 class="lead" style="font-size: 200%;">
								登录
							</h3>
						</div>
						<form>

							<div class="row">
								<div class="input-field col s6">
									<i class="material-icons prefix">phone</i>
									<input id="user-phone" type="tel" class="validate">
									<label for="user-phone">电话号码</label>
									<span class="helper-text">注册时填写的电话号码</span>
								</div>		<div class="input-field col s6">
									<i class="material-icons prefix">vpn_key</i>
									<input id="user-passwd" type="password" class="validate">
									<label for="user-passwd">密码</label>
									<span class="helper-text orange-text" id="passwdNote" style="display: none">密码错误</span>
								</div>
							</div>
							<div class="row">
								<div class="input-field col s6 ">
									<i class="material-icons prefix">child_care</i>
									<select id="user-type">
										<option value="0">房东</option>
										<option value="1">租客</option>
									</select>
									<label>身份</label>
								</div>
							</div>
							<div class="row" >
								<div class="col s12" style="text-align:center;">
									<a class="btn-floating btn-small waves-effect waves-light teal" onclick="login();">
										<i class="material-icons">done</i>
									</a>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>

		</div>

	<div id="signup-modal" class="modal">
			<div class="modal-content">
				<div class="row">
					<div class="col s10 push-s1">
						<div style="text-align: center;">
							<h3 class="lead" style="font-size: 200%;">
								加入119找房！
							</h3>
							<br>
						</div>
						<div class="row">
							<div class="col s6" style="text-align: center;">
								<a class="waves-effect waves-light btn teal" href="http://localhost:8101/rentsys/signup/owner"><i class="material-icons left" >directions_run</i>成为房东</a>
							</div>
							<div class="col s6" style="text-align: center;">
								<a class="waves-effect waves-light btn teal"href="http://localhost:8101/rentsys/signup/tenant" ><i class="material-icons left" >directions_run</i>成为租客</a>
							</div>
						</div>
					</div>
				</div>
			</div>

		</div>




	</div>

</body>
 <footer class="page-footer grey lighten-1">
          <div class="container">
            <div class="row">
              <div class="col l6 s12">
              <br>
                <h5 class="white-text">关于我们</h5>
                <p class="grey-text text-lighten-4">西安电子科技大学2017级软件工程学生</p>
              </div>
            </div>
          </div>
          <div class="footer-copyright">
            <div class="container">
            © 2014 Copyright Text
            <a class="grey-text text-lighten-4 right" href="#!">西安电子科技大学</a>
            </div>
          </div>
        </footer>
</html>